<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{{title}}}</title>
		<link rel="stylesheet" href="/public/css/main-styles.css" />
	</head>

	<div class="nav">
		<a href="/courts/available/">Available Courts</a>
		<a href="/courts/recommended/">Recommended Courts</a>
		<a href="/user/id/{{{id}}}/history/">History</a>
		{{#if owner}}
			<a href="/courts/create/">Add Court</a>
		{{/if}}
		<a href="/user/id/{{{id}}}/">Profile</a>
		{{#if auth}}
			<a href="todo">Logout</a>
		{{else}}
			<a href="/login">Login</a>
		{{/if}}
	</div>
    <br>

	<body>
		{{{body}}}
	</body>
</html>