<h1 id="avail-title">{{title}}</h1>
<button id="filter-btn">Filter</button>
<main>
  <div class="parent">
    <div class="child2" id="courtsList">
      <h2>Available Courts</h2>
      {{#each courts}}
        <div class="court-card">
          <h2>{{this.name}}</h2>
          <p>{{this.type}}</p>
          <p>
            {{this.address}},
            {{this.city}},
            {{this.state}}
            {{this.zip}}</p>
          <p>{{this.distance}}</p>
          <a href="/courts/{{this._id}}">Click for Details</a>
        </div>
      {{/each}}
    </div>

    <div class="child2">
      <h2>Upcoming Reservations: </h2>
      {{#each upcoming}}
        <div class="court-card">
          <h2>{{this.court.name}}</h2>
          <p class="date">{{this.date}}</p>
          <p class="date">{{this.startTime}} - {{this.endTime}}</p>
          <p>{{this.court.type}}</p>
          <p>
            {{this.court.address}},
            {{this.court.city}},
            {{this.court.state}}
            {{this.court.zip}}</p>
          <p>{{this.court.distance}}</p>
          <a href="/courts/{{this.court._id}}">Click for Details</a>
          <br />
          <br />
          <a href="/courts/{{this.court._id}}/{{this._id}}/cancel" class="error">Cancel</a>
        </div>
      {{/each}}
    </div>
  </div>

  <div id="filter-modal" hidden>
    <form id="filter-form" method="post" action="/courts/available">
      <p id="serverError" class="filter-error"></p>
      <p>Filter By:</p>
      <label for="zip-checkbox">
        <input
          type="checkbox"
          id="zip-checkbox"
          class="inline"
          name="zip-checkbox"
        />
        Zip Code
      </label>
      <label for="level-checkbox">
        <input
          type="checkbox"
          id="level-checkbox"
          class="inline"
          name="level-checkbox"
        />
        Player Level
      </label>

      <label for="sport-checkbox">
        <input
          type="checkbox"
          id="sport-checkbox"
          class="inline"
          name="sport-checkbox"
        />
        Sport
      </label>
      <p id="checkbox-error" class="filter-error">Select At Least One Checkbox</p>
      <hr />
      <div id="zip-div" hidden>
        <label for="zip">Zip Code
          <input id="zip" name="zip" />
        </label>
        <p id="zip-error" class="filter-error"></p>
        <label for="distance">Distance (Miles)
          <input type="number" id="distance" name="distance" />
        </label>
        <p id="distance-error" class="filter-error"></p>
      </div>
      <div id="level-div" hidden>
        <label for="levelInput">
          Player Level
          <select name="levelInput" id="levelInput">
            <option value="n/a">Select Level</option>
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="advanced">Advanced</option>
          </select>
        </label>
        <p id="level-error" class="filter-error"></p>
      </div>
      <div id="sport-div" hidden>
        <label for="sport">Sport
          <select id="sport" name="sport">
            <option value="n/a">Select Sport</option>
            <option value="basketball">Basketball</option>
            <option value="pickleball">Pickleball</option>
            <option value="tennis">Tennis</option>
            <option value="volleyball">Volleyball</option>
          </select>
        </label>
        <p id="sport-error" class="filter-error"></p>
      </div>
      <button type="submit">Filter</button>
    </form>
    <button id="close-modal">Close</button>
  </div>
  <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"
  ></script>
  <script src="/public/js/availableModal.js"></script>
</main>