<h1>{{title}}</h1>

<main>
  <div class="centered">
    <ul>
      {{#if history}}
        {{#each past}}  
            <div>
                <li> 
                    <a href="/courts/{{this.court_id}}">{{this.court_name}}</a>
                    <p>Date: {{this.date}}</p>
                    <p>Booked: {{this.startTime}} to {{this.endTime}}</p>
                </li> 
            </div>
            <br>
        {{/each}}
      {{!-- {{#if upcoming}} --}}
        {{#each upcoming}}  
          <div>
            <li> 
                <div class="row">
                  <a href="/courts/{{this.court_id}}">{{this.court_name}}</a>
                  <a href="/courts/{{this.court_id}}/{{this._id}}/cancel" class="error"> CANCEL</a>
                </div>
                <p>Date: {{this.date}}</p>
                <p>Booked: {{this.startTime}} to {{this.endTime}}</p> 
            </li> 
            <br>
        </div>
        {{/each}}
      {{else}}
        <div>
          <p>Sorry, you have no history! Once you make a reservation it will apear here.</p>
        </div>
      {{/if}}
    </ul>
    </div>
</main>

