<h1>{{title}}</h1>

<main>
    <ul>
      {{#if courts}}
        {{#each courts}}  
            <div>
                <li> 
                    <a href="/courts/{{this.court_id}}">{{this.court_name}}</a>
                    <p>Date: {{this.date}}</p>
                    <p>Booked: {{this.startTime}} to {{this.endTime}}</p>
                </li> 
            </div>
        {{/each}}
      {{else}}
        <div>
          <p>Sorry, you have no history!</p>
        </div>
      {{/if}}
    </ul>
</main>

{{!-- <a href="/courts/{{this.court._id}}/{{this._id}}/cancel" class="error">Cancel</a> --}}
