<main id="home-main">
  <div id="home-ctn">
    <h1 id="home-head">Court Reservations</h1>
    <p id="home-text">
      This website will allow you to locate volleyball, pickleball, tennis, and basketball courts near you and reserve times to play at them!
      If you own a court, you may also publish it on this site to allow others to reserve it.
    </p>
  </div>
  {{#if auth}}
    <div class="parent center">
      <div class="child2">
        <h2>Available Courts</h2>
        <div class="scroll-cards">
          {{#each availableCourts}}
            <div class="court-card">
              <h2>{{this.name}}</h2>
              <p>{{this.type}}</p>
              <p>
                {{this.address}},
                {{this.city}},
                {{this.state}}
                {{this.zip}}</p>
              <a href="/courts/{{this._id}}">Click for Details</a>
            </div>
          {{/each}}
        </div>
      </div>
      {{#if owner}}
        <div class="child2">
          <h2>Owned Courts</h2>
          <div class="scroll-cards">
            {{#each ownedCourts}}
              <div class="court-card">
                <h2>{{this.name}}</h2>
                <p>{{this.type}}</p>
                <p>
                  {{this.address}},
                  {{this.city}},
                  {{this.state}}
                  {{this.zip}}</p>
                <a href="/courts/{{this._id}}">Click for Details</a>
              </div>
            {{/each}}
          </div>
        </div>
      {{/if}}
    </div>
  {{else}}
    <div class="center">
      <p class="block button-text">Have an Account?</p>
      <a href="/login"><button class="big-btn">Log In</button></a>
      <p class="block button-text">Create a New Account</p>
      <a href="/register"><button class="big-btn">Register</button></a>
    </div>
  {{/if}}
</main>