<h1>{{title}}</h1>

<main>
    <form action="/courts/{{court._id}}/reserve" method="POST" id="makeReservationForm">
        <label for="selectedDate">Select a date to make a reservation:</label>
        <input type="date" id="selectedDate" name="selectedDate" value={{mindate}} min={{mindate}} max={{maxdate}}>
        <br>
        <label for="startTime">Select start time:</label>
        <input type="time" id="startTime" name="startTime">
        <br>
        <label for="endTime">Select end time:</label>
        <input type="time" id="endTime" name="endTime">
        <br>
        <label for="capacity">Number of Players:</label>
        <input type="number" id="capacity" name="capacity" min=1 max={{court.capacity}}>
        <br>
        <input type="submit" class="submit"/>
    </form>
   
    {{!-- <button onclick="displayAvailableTimes()">Find available times</button> --}}
    <div id="timesDiv"></div>

    <br>
    <div>
        <a href="/courts/{{court._id}}">{{court.name}}</a> 
        <p>Type: {{court.type}}</p>
        <p>Address: {{court.address}}, {{court.city}}, {{court.state}} {{court.zip}}</p>
    </div>
</main>

{{!-- <script src="../public/js/makeReservation.js"></script> --}}
<script>
    const displayAvailableTimes = () => {
        //first clear old day's times
        timesDiv.innerHTML = '';

        const newDiv = document.createElement('div');
        newDiv.innerHTML = 'get schedule here';
        timesDiv.appendChild(newDiv);
    }
</script>
