<h1>{{user.firstName}} {{user.lastName}}</h1>

<main>
    <img alt="{{user.username}}" width="200" height="200" src={{user.image}}>
    <p>Username: {{user.username}}</p>
    <p>Age: {{user.age}}</p>
    <p>Experience Level: {{user.experience_level}}</p>
    <p>Location: {{user.city}}, {{user.state}}</p>
    <p>Owner Status: {{user.owner}}</p>
    <p>Reviews: {{user.reviews}}</p>
</p>
</main>