<main>
  {{#if reportReviewsArray}}
    {{#if error}}
      <p class="errors">{{error}}</p>
    {{else}}
      <p>Report successful</p>
    {{/if}}
  {{/if}}
  <div class="profile-page">
    <h1>{{user.firstName}} {{user.lastName}}</h1>
    <img alt="{{user.username}}" width="200" height="200" src={{user.image}} >
    <p id="p-username">{{user.username}}</p>
    <p id="p-experience">{{user.experience_level}} Player</p>
    <p id="p-age">Age {{user.age}}</p>
    <p id="p-address">{{user.city}}, {{user.state}}</p>
    {{#if owner}}
      <p id="p-owner">Court Owner</p>
    {{/if}}
    {{#if user.overallRating}}
      <p id="p-rating">Player Rating: {{user.overallRating}}</p>
    {{/if}}
    {{#if ownPage}}
      <button
        id="editProfile"
        onclick="window.location.href='/user/id/{{user._id}}/editProfile';"
      >Edit Profile!</button>
    {{/if}}
    <p id="currentUsername" hidden>{{currentUsername}}</p>
    <p id="p-reviewhead">Reviews ({{reviewcount}}):</p>
    <div class="parent">
      <div class="child1">
        {{! <ul> }}
        {{#each reviews}}
           <div class="review review-{{this._id}}">
            {{! <li> }}
            <p>Reviewer:
              <a
                href="/user/id/{{this.reviewer_id}}"
              >{{this.reviewerUsername}}</a></p>
            <hr>
            <p>{{this.comment}}</p>
            <p>Rating: {{this.rating}}</p>
            <p>Date Posted: {{this.date}}</p>
            {{! </li> }}
          </div>
        {{/each}}
        {{! </ul> }}
      </div>
    </div>
    <button onclick="showReportForm('{{user._id}}')" id="report-button" class="report-review">Report A Review</button>
        <div id="report-form" style="display:none;">
              <br>
              <h2>Report Review</h2>
              <div id="error-div" class="error centered" hidden></div>
              <form class="report-form" action="/user/id/{{user._id}}/reportReview" method="POST">
                <label for="reportReviewer">Select Reviewer to report:</label>
                <select name="reportReviewer" id="reportReviewer">
                  {{#each reviews}}
                    <option value="{{this.reviewerUsername}}">{{this.reviewerUsername}}</option>
                  {{/each}}
                </select>
                <label for="reasonType">Select a reason:</label>
                <select name="reasonType" id="reasonType">
                  <option value="inappropriate">Inappropriate Content</option>
                  <option value="spam">Spam</option>
                  <option value="harassment">Harassment</option>
                  <option value="irrelevant">Irrelevant</option>
                </select>
                {{!-- <label>Inappropriate Content
                  <input
                    class="inappropriate"
                    type="radio"
                    name="reason"
                    value="inappropriate"
                  >
                </label>
                <label>Spam
                  <input class="spam" type="radio" name="reason" value="spam">
                </label>
                <label>Harassment
                  <input
                    class="harassment"
                    type="radio"
                    name="reason"
                    value="harassment"
                  >
                </label>
                <label>Irrelevant
                  <input
                    class="irrelevant"
                    type="radio"
                    name="reason"
                    value="irrelevant"
                  >
                </label> --}}
                {{!-- <input type="submit" name="submit" value="Submit"> --}}
                <button type='submit' id="reportFormSub">Submit</button>
                {{!-- <button type='button' id="reportFormSub" onclick="reportFormOnClick('{{user._id}}')">Submit</button>  --}}
                {{!-- <a href="/user/id/{{user._id}}/reportReview" onclick="reportFormOnClick('{{user._id}}')">Report</a> --}}
                {{!-- <a href="mailto:courtreservationreports@gmail.com?subject=Report%20Review%20&body=Please%20enter%20reviewer%20and%20reviewee%20here:">REPORT</a> --}}
                {{!-- <a href="/user/{{this._id}}/{{this.reviewee_id}}/{{this.reviewer_id}}/report" class="error">REPORT</a> --}}
                {{!-- <a href="/user/{{this._id}}{{this.reviewee_id}}/{{this.reviewer_id}}/{{this.rating}}/{{this.comment}}/{{this.reports}}/report" class="error">REPORT</a> --}}
              </form>
            </div>
            
    {{#if ownPage}}{{else}}
      <button
        onclick="window.location.href='/user/id/{{user._id}}/createReview';"
      >Leave a Review!</button>
    {{/if}}
  </div>
  <script>
    function showReportForm(userId) {
      //window.location.href=`/user/id/${userId}/reportReview`;
      //window.location.href=`/user/id/${userId}/profilePage`;
      var reportForm = document.getElementById("report-form");
      reportForm.style.display = "block";
    }
    function reportFormOnClick(userId) {
        //TODO
        /*
      var reportFormNow = document.getElementById("reportFormSub");
      reportFormNow.method = "POST";*/
      window.location.href=`/user/id/${userId}/reportReview`;
      /*
      if (document.querySelector('input[name="reason"]:checked') == null)
      {
        let errorDiv = document.getElementById("error-div");
        errorDiv.innerHTML = "Error: Must select a reason for report";
        errorDiv.style.visibility = 'visible';
      }
      else*/
      {
        let errorDiv = document.getElementById("error-div");
        errorDiv.innerHTML = "";
        errorDiv.style.visibility = 'hidden';
        var reasonInput = document.querySelector('input[name="reason"]:checked').value;
        var reviewerUsername = document.getElementById("reportReviewer").value;
        var currentUsername = document.getElementById("currentUsername").innerHTML;
        var revieweeUsername = document.getElementById("p-username").innerHTML;
        let bodyStr = `Reviewer%20Username:%20${reviewerUsername}%0D%0AReviewee%20Username:%20${revieweeUsername}%0D%0AType:%20${reasonInput}%0D%0AReported%20By%20Username:%20${currentUsername}`;
        location.href = `mailto:courtreservationreports@gmail.com?subject=Report%20Review%20&body=${bodyStr}%0D%0A`;
      }
    }
  </script>
</main>