<main>
  <div class="profile-page">
    <h1>{{user.firstName}} {{user.lastName}}</h1>
    <img alt="{{user.username}}" width="200" height="200" src={{user.image}} />
    <p id="p-username">{{user.username}}</p>
    <p id="p-experience">{{user.experience_level}} Player</p>
    <p id="p-age">Age {{user.age}}</p>
    <p id="p-address">{{user.city}}, {{user.state}}</p>
    {{#if owner}}
      <p id="p-owner">Court Owner</p>
    {{/if}}
    {{#if user.overallRating}}
      <p id="p-rating">Player Rating: {{user.overallRating}}</p>
    {{/if}}
    {{#if ownPage}}
      <button
        id="editProfile"
        onclick="window.location.href='/user/id/{{user._id}}/editProfile';"
      >Edit Profile!</button>
    {{/if}}
    <p id="p-reviewhead">Reviews ({{reviewcount}}):</p>
    <div class="parent">
      <div class="child1">
        {{! <ul> }}
        {{#each reviews}}
           <div class="review review-{{this._id}}">
            {{! <li> }}
           <button onclick="showReportForm('{{this._id}}')" class="report-review">Report</button>            <p>Reviewer:
              <a
                href="/user/id/{{this.reviewer_id}}"
              >{{this.reviewerUsername}}</a></p>
            <hr />
            <p>{{this.comment}}</p>
            <p>Rating: {{this.rating}}</p>
            <p>Date Posted: {{this.date}}</p>
        <div id="report-form-{{this._id}}" style="display:none;">
              <h3>Report Review</h3>
              <form class="report-form">
                <label>Inappropriate Content
                  <input
                    class="inappropriate"
                    type="radio"
                    name="reason"
                    value="inappropriate"
                  />
                </label>
                <label>Spam
                  <input class="spam" type="radio" name="reason" value="spam" />
                </label>
                <label>Harassment
                  <input
                    class="harassment"
                    type="radio"
                    name="reason"
                    value="harassment"
                  />
                </label>
                <a href="mailto:courtreservationreports@gmail.com?subject=Report%20Review%20&body=Please%20enter%20reviewer%20and%20reviewee%20here:">REPORT</a>
                {{!-- <a href="/user/{{this._id}}/{{this.reviewee_id}}/{{this.reviewer_id}}/report" class="error">REPORT</a> --}}
                {{!-- <a href="/user/{{this._id}}{{this.reviewee_id}}/{{this.reviewer_id}}/{{this.rating}}/{{this.comment}}/{{this.reports}}/report" class="error">REPORT</a> --}}
              </form>
            </div>
            {{! </li> }}
          </div>
        {{/each}}
        {{! </ul> }}
      </div>
    </div>
    {{#if ownPage}}{{else}}
      <button
        onclick="window.location.href='/user/id/{{user._id}}/createReview';"
      >Leave a Review!</button>
    {{/if}}
  </div>
  <script>
    function showReportForm(reviewId) {
      console.log(reviewId)
  var reportForm = document.getElementById("report-form-" + reviewId);
  reportForm.style.display = "block";
}
  </script>
</main>